@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;

}

:root {
    --colorMain: #B7030D;
    --colorBlack: #000000;
    --colorWhite: #fff;
}

body {
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}

/* INICIO DE CONFIGURAÇÕES DO CABEÇALHO */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #CCC;
    width: 100%;
    background-color: var(--colorWhite);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: var(--colorMain);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color: var(--colorBlack);
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul.show {
    display: block;
}

.navigation ul li a {
    color: var(--colorBlack);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.navigation ul li a:hover {
    color: var(--colorMain);
}

/* FINAL DE CONFIGURAÇÕES DO CABEÇALHO */
/* ========================================================================= */
/* INICIO DE CONFIGURAÇÕES DO MENU */

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--colorBlack);
    margin: 5px auto;
    transition: all 0.3s;

}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background-color: var(--colorMain);
}

/* FINAL DE CONFIGURAÇÕES DO MENU */
/* ========================================================================= */
/* INICIO DE CONFIGURAÇÕES DO CONTEÚDO PRINCIPAL */

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--colorMain);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 15px 45px;
    background-color: var(--colorMain);
    color: var(--colorWhite);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background-color: #fc4c35;
}

.home-img img {
    width: 100%;
    height: 100%;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    .menu {
        display: block;
    }

    .navigation {
        padding: 18px;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: var(--colorWhite);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        width: 80%;
    }
}
